@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
	background: #C4BECC;
	margin: 0;
}

.header {
	height: 150px;
}

.logo img {
	width: 300px;
	margin-top: 100px;
	margin-left: 150px;
}

.wrapper {
}

.canvas {
/*	width: 800px;
	height: 600px;
*/	background-color: black;
	float: left;
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 30px;
	margin-bottom: 100px;
}

.chat {
	width: 250px;
	height: 450px;
	float: left;
	background-color: #DED7E5;
	margin-top: 50px;
	font-family: 'Lato';
}

input {
	margin-left: 20px;
	margin-top: 390px;
	height: 20px;
	width: 140px;
	float: left;
}

button {
	border: none;
	font-family: 'Lato';
	background-color: #EF4136;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	margin-top: 372px;
	margin-left: 10px;
	height: 25px;
}

@media screen and (max-width: 1230px) {
    .canvas {
    	margin-bottom: 0px;
    }

    .chat {
       width: 800px;
       height: 300px;
       margin-left: 150px;
       margin-bottom: 100px;
    }

}
